* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif; 
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #da4453 0%, #8921ad 50%, #5e5ce6 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main-container {
    max-width: 800px;
    width: 100%;
    text-align: center;
    color: white;
}

.logo {
    margin-bottom: 30px;
    align-items: left;
}

h1 {
    font-size: 42px;
    margin-bottom: 15px;
    font-weight: 700;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 40px;
    opacity: 0.9;
}


.contact-form {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: left;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.full-width {
    grid-column: span 2;
}

label {
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
}

input, select, textarea {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background: white;
    font-size: 14px;
    color: #333;
}

textarea {
    height: 120px;
    resize: none;
}

.submit-btn {
    width: 100%;
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background: white;
    color: #5e5ce6;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #f0f0f0;
}

.author-info {
    margin-top: 20px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.author-info a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}